@import "../helpers/_helpers";

:root {
    // основные цвета
    --color-primary: #5a98d0;
    --color-secondary: #316099;

    // фоны
    --background-site: #fff;                    // фон сайта
    --background-block-section: #fff;           // фон блоков

    // базовые цвета
    --color-base-text: #1f3f68;                 // текст
    --color-base-link: #1f3f68;                 // ссылки
    --color-base-link-hover: #316099;           // ссылки при наведении
    --color-base-link-decoration: null;         // подчеркивание ссылок
    --color-base-border: #dfdfdf;               // бордер, рамка
    --color-base-heading: #1F3F68;              // заголовки h1...h6

    // цвета цен
    --color-price: #000000;                     // цена
    --color-price-old: #9c9fa3;                 // цена старая
    --color-price-factory: #989898;             // цена завода

    // цвета статусов
    --color-stock-available: #25d366;           // статус в наличии
    --color-delivery-time: #242424;             // статус под заказ
    --color-expected: #ef9500;                  // статус ожидается

    // кнопка основная
    --button-primary-color: #fff;
    --button-primary-background: var(--color-primary);
    --button-primary-border: var(--color-primary);
    --button-primary-hover-color: #fff;
    --button-primary-hover-background: var(--color-secondary);
    --button-primary-hover-border: var(--color-secondary);

    // кнопка вторичная
    --button-secondary-color: #353637;
    --button-secondary-background: transparent;
    --button-secondary-border: #cdd0d6;
    --button-secondary-hover-color: #353637;
    --button-secondary-hover-background: #f6f7f8;
    --button-secondary-hover-border: #cdd0d6;
}
