@import "../helpers/helpers";

.hidden {
    display: none !important;
}
.wrapper {
    overflow: hidden;
}
.container {
    margin: 0 auto;
    max-width: var(--container);
}
.center {
    margin-bottom: 80px;
    //.block {
    //    @include last(1) {
    //        &.block-section {
    //            margin-bottom: -80px;
    //        }
    //    }
    //}
    > .block {
        @include even() {
            background-color: var(--background-block-section);
            padding: 80px calc((100vw - var(--container))/ 2);
            margin: 0 calc((var(--container) - 100vw)/2);
            @include last(1) {
                margin-bottom: -80px !important;
            }
        }
    }
}
.with-sidebar {
    display: flex;
    grid-gap: var(--grid-gap);
    main {
        flex: 1;
        .field-content-page {
            &.field-type-list {
                > .value {
                    @include min-screen(1281px) {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }
        }
        > * {
            &:first-of-type {
                margin-top: 0;
            }
            @include first(1) {
                margin-top: 0;
            }
            @include last(1) {
                margin-bottom: 0;
            }
        }
    }
    aside {
        width: 294px;
        flex: 0 0 auto;
        > * {
            display: block;
            margin: 24px 0;
            @include first(1) {
                margin-top: 0;
            }
            @include last(1) {
                margin-bottom: 0;
            }
        }
        .block {}
        .block__header {
            background-color: #f3f5f7;
            padding: 24px;
            margin-bottom: 0;
        }
        .block__title {
            font-size: 20px;
            line-height: 28px;
            text-align: left;
        }
        .block__content {
            padding: 24px;
            border: 1px solid #f3f5f7;
        }
        .block-border {
            padding: 24px;
            .block__header {
                background-color: transparent;
                padding: 0;
                margin-bottom: 32px;
            }
            .block__content {
                padding: 0;
            }
        }
        > * {
            margin: 24px 0;
            @include first(1) {
                margin-top: 0;
            }
            @include last(1) {
                margin-bottom: 0;
            }
        }

        .btn-visual-catalog {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--color-secondary);
            background-color: #fff;
            border-radius: 65px;
            font-size: var(--font-size-norma);
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: var(--color-secondary);
            padding: 15px 24px;
            text-align: left;
            position: relative;
            transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
            &:hover {
                color: #fff;
                background-color: var(--color-secondary);
                border-color: #494949;
            }
            &:focus,
            &.focus {
                color: var(--color-secondary);
                background-color: transparent;
                border-color: var(--color-secondary);
            }
            &:before {
                @include icomoon("\e907", 34px, 400);
                margin-right: 12px;
                flex: 0 0 auto;
            }
            &:after {
                @include icomoon("\e921", 16px, 400);
                width: 24px;
                height: 24px;
                flex: 0 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 12px;
            }
        }
        .block-catalog-filter {
            .block__content {
                padding: 0;
                border: none;
            }
        }
    }
}

@include max-screen(1280px) {
    .with-sidebar {
        aside {
            width: 236px;
        }
    }
}
@include max-screen(1024px) {
    .with-sidebar {
        aside {
            display: none;
        }
    }
}
@include max-screen(768px) {}
