@import "../helpers/helpers";

.block {
    &:first-of-type {
        margin-top: 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}
.block__header {}
.block__title {
    font-family: var(--font-family-heading);
    font-size: 36px;
    line-height: 46px;
    color: #316099;
    margin: 0;
}
.block__description {
    grid-column: 1/-1;
}
.block__footer {
    position: relative;
    text-align: center;
    .dots {
        margin: 32px auto 0;
    }
    .btn {
        margin: 32px 0 0;
    }
    .btn-icon-left {
        &:before {
            @include icomoon("\e91b", 14px, 400);
        }
    }
    .btn-icon-right {
        &:after {
            @include icomoon("\e90c", 14px, 400);
        }
    }
    > * {
        @include last(1) {
            margin-bottom: 0;
        }
    }
}

// дополнительный класс для блока с обозначенными границами в пределах контента сайта.
// например: фон, фон картинка, бордер, тень.
.block-border {
    background-color: var(--background-block-section);
    padding: 48px;
}

// дополнительный класс для блока типа секция.
// например: когда блок выходит за рамки контента.
// эффект отрицательного маржина.
.block-section {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc((var(--container) - 100vw)/2);
    margin-right: calc((var(--container) - 100vw)/2);
    padding: var(--space0) calc((100vw - var(--container))/2);
}

// когда блок является слайдером
.block__slider {
    position: relative;
    width: var(--container);
    grid-column: 1/-1;
    .swiper-notification {
        display: none;
    }
}
.block__slider-inner {
    &.swiper-container-initialized {
        padding: 8px;
        margin: -8px;
        overflow: hidden;
        .block__slider-content {
            display: flex;
        }
    }
}


@include max-screen(1023px) {
    .block__title {
        font-size: 24px;
        line-height: 32px;
    }
}
@include max-screen(767px) {}
