@import "../helpers/helpers";

.field {
    .rouble {
        color: var(--color-base-text);
    }
    .prefix {
        margin-right: 4px;
    }
    .suffix {
        margin-left: 4px;
        ~ .field {
            margin-left: 4px;
        }
    }
}
.field-label-above {
    > .label {
        margin-bottom: 4px;
    }
}
.field-label-inline {
    display: flex;
    align-items: baseline;
    > .label {
        margin-right: 4px;
    }
}
.field-label-hidden {
    > label,
    > .label {
        display: none;
        &.focus {
            display: none;
        }
    }
}
