@import "../helpers/_helpers";

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-base);
    font-size: var(--font-size);
    text-align: center;
    padding: 14px 48px;
    border-radius: 10px;
    text-decoration: none;
    //text-transform: uppercase;
    //letter-spacing: 0.0125em;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &[disabled="disabled"]:hover,
    &[disabled="disabled"] {
        background-color: lightgray;
        border-color: lightgray;
        cursor: default;
        box-shadow: none;
    }
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}
.btn-primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background);
    border: 1px solid var(--button-primary-border);
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    &:hover:focus,
    &:hover {
        color: var(--button-primary-hover-color);
        background-color: var(--button-primary-hover-background);
        border-color: var(--button-primary-hover-border);
    }
    &:focus,
    &.focus {
        color: var(--button-primary-color);
        background-color: var(--button-primary-background);
        border-color: var(--button-primary-border);
    }
}
.btn-secondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-background);
    border: 1px solid var(--button-secondary-border);
    &:hover:focus,
    &:hover {
        color: var(--button-secondary-hover-color);
        background-color: var(--button-secondary-hover-background);
        border-color: var(--button-secondary-hover-border);
    }
    &:focus,
    &.focus {
        color: var(--button-secondary-color);
        background-color: var(--button-secondary-background);
        border-color: var(--button-secondary-border);
    }
}
.btn-three {
    color: #fff;
    background-color: #3856b1;
    border: 1px solid #3856b1;
    &:hover:focus,
    &:hover {
        color: #fff;
        background-color: #ff8e4b;
        border-color: #ff8e4b;
    }
    &:focus,
    &.focus {
        color: #fff;
        background-color: #3856b1;
        border-color: #3856b1;
    }
}

// большой размер
.btn-lg {
    padding: 20px 56px;
    font-size: var(--font-size-lg);
}

// маленький размер
.btn-sm {
    padding: 8px 32px;
    font-size: var(--font-size-norma);
}

// КНОПКИ БЛОЧНОГО УРОВНЯ – КОТОРЫЕ ЗАНИМАЮТ ПОЛНУЮ ШИРИНУ РОДИТЕЛЬСКОГО ЭЛЕМЕНТА.
.btn-block {
    display: flex;
    width: 100%;
}

.btn-link {
    border: none;
    padding: 0;
    color: var(--color-base-text);
    //letter-spacing: 0.04em;
    &:hover {
        border: none;
    }
}
//.btn-icon-left {
//    &:before {
//        color: var(--color-base-text);
//        width: 24px;
//        height: 24px;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        transition: transform 0.2s ease-in-out;
//        margin-right: 8px;
//    }
//    &:hover {
//        &:before {
//            transform: translateX(-4px);
//        }
//    }
//}
//.btn-icon-right {
//    &:after {
//        color: var(--color-base-text);
//        width: 24px;
//        height: 24px;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        transition: transform 0.2s ease-in-out;
//        margin-left: 8px;
//    }
//    &:hover {
//        &:after {
//            transform: translateX(4px);
//        }
//    }
//}

@include max-screen(1280px) {}
@include max-screen(1024px) {}
@include max-screen(768px) {}
