@import "../helpers/_helpers";

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: var(--font-size);
    line-height: 26px; // line-height 24px / var(--font-size)
    letter-spacing: 0.05em;
    color: var(--color-base-text);
    background-color: var(--background-site);
}
h1,
.h1 {
    font-family: 'Galien', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: var(--color-base-heading);
    margin: 32px 0;
    @include max-screen(1024px) {
        font-size: rem(24px);
        line-height: rem(40px);
        margin: rem(32px 0);
    }
}
h2,
.h2 {
    font-family: var(--font-family-heading);
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: var(--color-base-heading);
    margin: 32px 0;
    @include max-screen(1024px) {
        font-size: rem(24px);
        line-height: rem(40px);
    }
}
h3,
.h3 {
    font-family: var(--font-family-heading);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: var(--color-base-heading);
    margin: 32px 0 16px;
}
h4,
.h4 {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: var(--font-size-norma);
    line-height: 1.428;
    color: var(--color-base-text);
    margin: 16px 0;
}
h5,
.h5 {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: var(--font-size-norma);
    line-height: 1.428;
    color: var(--color-base-text);
    margin: 16px 0;
}
h6,
.h6 {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: var(--font-size-norma);
    line-height: 1.428;
    color: var(--color-base-text);
    margin: 16px 0;
}
a {
    color: var(--color-base-link);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:hover {
        color: var(--color-base-link-hover);
        text-decoration: none;
        border-color: var(--color-base-link-hover);
    }
    &:focus {
        color: var(--color-base-link);
        text-decoration: none;
        border-color: transparent;
    }
}
b, strong {
    font-weight: 700;
    color: var(--color-base-text);
}
p, ul, ol, table, hr, .ck-tpl {
    margin: 16px 0;
}
ol,
ul {
    li {
        margin: 8px 0;
    }
}
ul {
    padding-left: 32px;
    li {
        &::before {
            content: "\2022";
            position: absolute;
            top: 0;
            left: -16px;
        }
    }
}
ol {
    padding-left: 32px;
}
hr {
    height: 1px;
    background-color: var(--color-base-border);
}
table {
    width: 100% !important;
    border: 1px solid var(--color-base-border);
    th,
    td {
        padding: 8px 16px;
        border: 1px solid var(--color-base-border);
        color: var(--color-base-text); // не обязательно
    }
}
table[border="0"] {
    border-width: 0;
    th,
    td {
        border-width: 0;
    }
}

@include max-screen(1280px) {}
@include max-screen(1024px) {
    h1 {
        font-size: 32px;
        line-height: 48px;
        margin: 28px 0 16px;
        letter-spacing: 0.0025em; // не обязательный
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
        margin: 32px 0 16px;
        letter-spacing: 0;
    }
    h3 {
        font-size: 24px;
        line-height: 32px;
        margin: 32px 0 24px;
        letter-spacing: 0;
    }
}
@include max-screen(768px) {
    h1 {
        font-size: 24px;
        line-height: 32px;
        //margin: 48px 0 16px;
        letter-spacing: 0; // не обязательный
    }
    h2 {
        font-size: 20px;
        line-height: 28px;
        //margin: 32px 0 16px;
        letter-spacing: 0.0015em;
    }
    h3 {
        font-size: 20px;
        line-height: 28px;
        margin: 32px 0 16px;
        letter-spacing: 0.0015em;
    }
}
